div{
    height:200px;
    width:500px;
    border-width:5px;
    border-style:solid;
    border-color:black;
    background-color:pink;
}
h1{
    border-width:2px;
    border-style:dashed;
    border-color:green
}